sudo: required
services:
    - docker

before_install:
    - docker build -t docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true docker-react npm run test

before_deploy: "echo 'ready?'"

deploy:
    edge: true
    provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    region: "us-east-1"
    app: "docker2"
    env: "Docker2-env"
    bucket_name: "elasticbeanstalk-us-east-1-893851628906"
    bucket_path: "docker"
    on:
        branch: "master"
        